@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

html,
body {
  max-width: 1440px;
  overflow-x: hidden;
  margin: auto;
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: inherit;
}

@layer utilities {
  .list-item {
    @apply flex text-[16px] hover:text-main cursor-pointer;
  }

  .accordion {
    @apply flex justify-between items-center rounded-lg w-full h-[90px] p-8  shadow-sm cursor-pointer text-[18px] font-normal text-black hover:bg-gray-100;
  }

  .panel {
    @apply p-8 rounded-lg bg-gray-100 text-black overflow-hidden;
  }

  .button {
    @apply bg-main text-white text-[16px] font-semibold flex items-center justify-center py-2 px-4 rounded-md gap-2;
  }

  .table-head {
    @apply text-[20px] font-semibold text-right text-main py-[10px] max-md:px-[10px] text-nowrap;
  }
  .table-data {
    @apply text-[16px] font-extralight text-right text-main max-md:px-[10px] text-nowrap;
  }
}

/* swiper styles */

/* Increase specificity */
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  background-color: gray; /* Set background color */
  width: 60px; /* Set width */
  height: 60px; /* Set height */
  border-radius: 50%; /* Make it circular */
  color: #5e0a8e; /* Set arrow color */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide disabled buttons */
.swiper .swiper-button-next.swiper-button-disabled,
.swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0; /* Hide the button */
  pointer-events: none; /* Disable click events */
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 32px; /* Adjust the size as needed */
}

@media (max-width: 950px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
